<div class="div">
   <h6> ©2024 Aarya_Deep_Jaiswal. All rights reserved. | Privacy Policy | Terms of Service | Designed with ❤️ by &nbsp; <i>Aarya-Deep-Jaiswal</i></h5>
</div>

<style>
    .div{
        background-color: rgba(160, 158, 158, 0.559);
        height: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    h6{
        padding: 0px;
        margin: 0rem;
        align-self: center;
    }
</style>