<% layout("layouts/boilerplate")%>

    <div id="bg">
        <img src="images/bg.png" alt="">
    </div>

    <body>
        <br>

        <h2 style="font-size: 2.5rem; text-decoration: underline; color: red;">
            <i><b>My Educational Qualifications are as follows:</b></i>
        </h2> <br>
        <div class="card mb-3 first">
            <div class="row g-0 sit">
                <div class="col-md-8">
                    <div class="card-body sit">
                        <h5 class="card-title">Siliguri Institute Of Technology</h5>
                        <p class="card-tex up">Established in 1999, Siliguri Institute of Technology (SIT) is the
                            largest
                            private educational institution running under the vision of Techno India Group and is only
                            one of its kinds in North Bengal, West Bengal, India.
                            Situated in the foothills of The Himalayas, Siliguri is the commercial capital of North
                            Bengal and the gateway to forests of the Dooars, the beautiful Sikkim and North-eastern
                            India.</p>
                        <p class="card-text"><small class="text-body-secondary">Bachelor of Technology in Computer
                                Science and Engineering <br>
                                Siliguri Institute of Technology, <br> Siliguri, India. <br>
                                Expected Graduation: 2025</small></p>
                        <a href="https://www.sittechno.org/index.html" class="btn btn-primary">Click to visit
                            &#128072;</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/images/sit.jpg" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>

        <br>

        <div class="card mb-3 second">
            <div class="row g-0 dav">
                <div class="col-md-8">
                    <div class="card-body dav">
                        <h5 class="card-title">D.A.V School</h5>
                        <p class="card-text up">D.A.V. Siliguri is one of 750 D.A.V. institutions spread all over
                            India.It
                            was established in April,1996. In 1886 at Lahore the first D.A.V. school was established by
                            Mahatma Hansraj. Since then D.A.V. schools are committed in their pursuit to eradicate
                            illiteracy and spread qualitative, progressive and value based education in all corners of
                            the country. In 122 years of its history D.A.V. schools have played active role in making &
                            shaping the history of the country.</p>
                        <p class="card-text"><small class="text-body-secondary">
                                Senior Secondary (Class 12) <br>
                                DAV School, Siliguri, <br> West Bengal, India. <br>
                                Year of Completion:2021
                            </small></p>
                        <a href="http://www.davsiliguri.com/" class="btn btn-primary">Click to visit &#128072;</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/images/dav.ico" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>

        <br>

        <div class="card mb-3 third">
            <div class="row g-0 bdj">
                <div class="col-md-8">
                    <div class="card-body bdj">
                        <h5 class="card-title">Birla Divya Jyoti</h5>
                        <p class="card-text up">BIRLA DIVYA JYOTI SCHOOL is a co-educational English Medium School at
                            UTTORAYON TOWNSHIP, SILIGURI, set up by BIRLA VIDYA VIHAR TRUST under the aegis of the BIRLA
                            GROUP.This group has a successful track record of running some of the Finest Educational
                            Institutions across the Country.</p>
                        <p class="card-text"><small class="text-body-secondary">Secondary (Class 10) <br>
                                Birla Divya Jyoti, Siliguri, <br> West Bengal, India. <br>
                                Year of Completion: 2019</small></p>
                        <a href="https://birladivyajyoti.com/" class="btn btn-primary">Click to visit &#128072;</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/images/bdj.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
        <br><br>
    </body>

    <style>
        @media(max-width :450px) {

            body {
                overflow-x: hidden !important;
            }

            .container {
                overflow-x: hidden !important;
            }

            .card {
                transform: scale(0.9, 0.9);
            }

            .up {
                display: none;
            }

            .sit p {
                margin-top: 2rem !important;
            }

            .sit a {
                margin-top: 0.2rem !important;
            }

            .sit img {
                transform: scale(0.5, 0.5) !important;
                position: relative;
                margin-top: -11rem !important;
                margin-left: 12rem !important;
            }

            .dav p {
                margin-top: 2rem !important;

            }

            .dav a {
                margin-top: 4rem !important;
            }

            .dav img {
                transform: scale(0.5, 0.5) !important;
                position: relative;
                margin-top: -11.5rem !important;
                margin-left: 11rem !important;
            }

            .bdj p {
                margin-top: 2rem !important;

            }

            .bdj a {
                margin-top: 4rem !important;
            }

            .bdj img {
                transform: scale(0.5, 0.5) !important;
                position: relative;
                margin-top: -12.5rem !important;
                margin-left: 11rem !important;
            }
        }

        body {
            position: relative;
            z-index: 1;
        }

        #bg {
            position: fixed;
            height: 100%;
            width: 100%;
            background-size: cover;
            top: 0rem;
            margin: 0rem;
            padding: 0rem;
            left: 0rem;
            z-index: -1;
        }

        #bg img {
            object-fit: fill;
            height: 100%;
            width: 100%;
            margin: 0rem;
            position: fixed;
            z-index: -10;
            opacity: 0.2;
            left: 0rem;
            padding: 0rem;
        }

        .card {
            background-color: white;
            width: 100%;
            height: 20rem;
            box-shadow: 2px 2px 4px black;
            border-radius: 10px;
        }

        .first img {
            position: relative;
            transform: scale(1.1, 1.1);
            margin: 3rem 2rem 0rem 7rem;
        }

        .second img {
            position: relative;
            transform: scale(1.2, 1.2);
            margin: 3rem 2rem 0rem 7rem;
        }

        .third img {
            position: relative;
            /* transform: scale(1.1, 1.1); */
            height: 16rem;
            width: 16rem;
            margin: 2rem 0rem 3rem 7rem;
        }

        .card h5 {
            font-size: 2rem;
        }

        .sit a {
            margin-top: -1.2rem;
        }

        .dav a {
            margin-top: -1.2rem;
        }

        .card:hover {
            transform: scale(1.02, 1.02);
        }

        .card a {
            background-color: red !important;
            border: none;
        }

        h2 {
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    </style>