<% layout("layouts/boilerplate.ejs") %>


    <div id="bg">
        <img src="images/bg.png" alt="">
    </div>

    <body>
        <div class="main">
            <div class="home-main">
                <div class="info-outer">
                    <div class="info">
                        <h4><i>~~~~Hello</i></h4>
                        <h1 id="name1">It's <span id="name">Aarya Deep Jaiswal</span> here,</h1>
                        <h1 id="let">Let me tell you who am I?</h1>
                        <h2>I'm a <span class="auto-type change"></span></h2>
                        <br>
                        <p>Full Stack Developer proficient in creating dynamic and responsive web applications with
                            expertise <br> in both front-end and back-end technologies. Passionate about crafting
                            seamless
                            user experiences <br> through innovative design and efficient code implementation.</p>
                    </div>
                    <br>
                    <a href="https://drive.google.com/file/d/1ExdleZph4Pl26-UkJAg0VhJrhzRlrC7F/view?usp=sharing">
                        <button type="button" class="btn btn-danger">Lookout the CV</button>
                    </a>
                    <a href="https://www.instagram.com/aaryadeep_jaiswal?igsh=d3k1d3dqd2Vtbm9q"> <i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/Aaryadeep.Jaiswal01?mibextid=kFxxJD"><i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/aarya-deep-jaiswal/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Aarya-Deep-Jaiswal"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="photo">
                    <img src="/images/1.jpg" alt="Image">
                </div>
            </div>
        </div>
    </body>
    <style>
        @media (max-width: 450px) {

            /* Adjust photo position */
            .photo {
                position: relative;
                top: -7rem;
                left: -0.5rem;
                transform: scale(0.9);
            }

            /* Adjust info-outer position */
            .info-outer {
                margin-top: 1rem;
                padding: 0;
                left: 0;
            }

            /* Adjust heading and name positions */
            h4 {
                position: absolute;
                top: 27.8rem;
                text-align: center;
                left: 1rem;
                font-size: 1.2rem;
            }

            #name1 {
                position: absolute;
                top: 29.3rem;
                display: inline;
                width: 22rem;
                text-align: center;
                font-size: 1.5rem !important;
                left: 0rem;
            }

            /* Adjust info margin */
            .info {
                margin-left: 0;
                margin-top: 2rem;
                text-align: center;
            }

            /* Adjust button margin */
            .btn {
                margin: 2rem auto;
                margin-top: 33.5rem;
                margin-left: 6.5rem !important;
                transform: scale(0.8,0.8);
            }

            /* Adjust social icons margin */
            .fa-brands {
                margin: 0 0.5rem;
            }

            #let {
                position: absolute;
                top: 30rem;
                font-size: 1.3rem;
                width: 25rem;
                display: inline;
                left: -3.65rem;
                margin-top: 1.2rem;
            }

            h2 {
                position: absolute;
                top: 31.5rem;
                left: 0.9rem;
                margin-top: 1.7rem;
                font-size: 1.1rem;
                width: 22rem;
                padding: 0rem;
            }

            p {
                position: absolute;
                top: 35rem;
                left: -0.5rem;
                width: 23rem;
            }

            .fa-brands{
                position: relative;
                top: -1rem;
                left: 4.1rem;
            }

            .home-main{
                margin-top: 0.5rem;
            }
        }


        body {
            position: relative;
            z-index: 1;
        }

        .main {
            margin-bottom: 6.8rem;
        }

        #bg {
            position: fixed;
            height: 100vh;
            width: 100%;
        }

        #bg img {
            object-fit: fill;
            height: 100%;
            width: 100%;
            margin: 0rem;
            position: fixed;
            z-index: -1;
            opacity: 0.18;
            left: 1rem;
        }

        .home-main {
            display: flex;
            position: relative;
            height: 100%;
            /* background-color: pink; */
        }

        .info-outer {
            position: relative;
            height: 100%;
            width: 70%;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        .info {
            margin-left: 5rem;
            margin-top: 8rem;
        }

        .photo {
            position: absolute;
            height: 100%;
            right: 2rem;
            margin-top: 4.5rem;
        }

        .photo img {
            height: 30rem;
            margin-top: 1.2rem;
            border-radius: 10px;
            box-shadow: 3px 4px 4px black;
        }

        .btn {
            margin-left: 5rem;
            width: 10rem;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 4px 4px 4px rgb(95, 81, 81);
        }

        #name1 {
            font-size: 3rem;
        }

        #name {
            color: red !important;
        }

        /* Animation */

        .change {
            color: red;
        }

        .fa-brands {
            font-size: 1.8rem;
            margin-left: 1rem;
            position: relative;
            bottom: -0.6rem;
            text-decoration: none;
            color: black;
        }

        .fa-instagram {
            margin-left: 2rem;
        }
    </style>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        let typed = new Typed(".auto-type", {
            strings: ['Full Stack Web Developer', 'Programmer', 'Competitive Coder', 'Traveller', 'Dendrophile', 'Person that you gonna love to know!'],
            typeSpeed: 100,
            backSpeed: 1,
            // typeSpeed:100,
            loop: true,
        });
    </script>

    </html>
