<% layout("layouts/boilerplate") %>

<div id="bg">
    <img src="images/bg.png" alt="">
</div>

    <body>
        <div class="row">
            <div class="programming">
                <div class="card pr pr1">
                    <img src="/images/wanderlust.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">WanderLust</h5>
                        <p class="card-text">Check out the one of the Main Project<br> <b>The WanderLust</b>,where you
                            can take the feel of the Airbnb
                        </p>
                        <a href="https://github.com/Aarya-Deep-Jaiswal/Wanderlust.git"
                            class="btn btn-primary">Github</a>
                        <a href="https://wanderlust-qy1e.onrender.com"
                            class="btn btn-primary">See Live</a>
                    </div>
                </div>
                <div class="card pr pr2">
                    <img src="/images/quora.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Quora</h5>
                        <p class="card-text">Use the CRUD Operations to write,read,update and delete your posts.
                        </p>
                        <a href="https://github.com/Aarya-Deep-Jaiswal/Quora-Rest_Operations.git"
                            class="btn btn-primary">Github</a>
                        <a href="https://quora-rest-operations.onrender.com"
                            class="btn btn-primary">See Live</a>
                    </div>
                </div>
                <div class="card pr pr3">
                    <img src="/images/spotify.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Spotify UI</h5>
                        <p class="card-text">Try the UI experience of the Spotify Website!!
                        </p>
                        <a href="https://github.com/Aarya-Deep-Jaiswal/Spotify-Clone-Frontend.git"
                            class="btn btn2 btn-primary">Github</a>
                        <a href="https://spotify-clone-frontend.onrender.com"
                            class="btn btn-primary">See Live</a>
                    </div>
                </div>
                <div class="card pr pr4">
                    <img src="/images/photo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Photography Website UI</h5>
                        <p class="card-text">Check the Front-End Experience of the Photography Website.
                        </p>
                        <a href="https://github.com/Aarya-Deep-Jaiswal/Photography-Website.git"
                            class="btn btn-primary">Github</a>
                        <a href="/projects"
                            class="btn btn-primary">See Live!</a>
                    </div>
                </div>
            </div>
            <div class="card pr pr5">
                <img src="/images/pet.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pet Adoption Website UI</h5>
                    <p class="card-text">Check the Front-End Experience of the Pet Adoption Website,having two cute's for adoption
                    </p>
                    <a href="https://github.com/Aarya-Deep-Jaiswal/Pet-Adoption.git"
                        class="btn btn-primary">Github</a>
                    <a href="/projects"
                        class="btn btn-primary">See Live!</a>
                </div>
            </div>
        </div>
    </body>

    <style>
        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        body {
            position: relative;
            z-index: 1;
        }

        #bg {
            position: fixed;
            height: 100%;
            width: 100%;
            background-size: cover;
            top: 0rem;
            margin: 0rem;
            padding: 0rem;
            left: 0rem;
            z-index: -1;
        }

        #bg img {
            object-fit: fill;
            height: 100%;
            width: 100%;
            margin: 0rem;
            position: fixed;
            z-index: -10;
            opacity: 0.2;
            left: 0rem;
            padding: 0rem;
        }


        .card {
            box-shadow: 2px 2px 4px black;
            border-radius: 20px;
        }

        .card a {
            background-color: red !important;
            border: none;
            display: inline;
            width: 1rem;
        }

        .card:hover {
            transform: scale(1.02, 1.02);
            transition: all;
        }

        .programming {
            display: flex;
            margin-top: 0.5rem;
        }

        .pr {
            height: 20rem;
            width: 25rem !important;
            border: 2px solid black;
            justify-content: center;
            align-items: center;
        }

        .pr2,
        .pr3,
        .pr4 {
            margin-left: 1rem;
        }

        .pr img {
            height: 10rem;
            width: 14rem;
            padding: 1rem;
        }

        .card-body {
            padding-top: 0px;
        }

        .pr1 img {
            height: 10rem;
            width: 19rem;
            border-radius: 30px;
        }

        .pr2 img {
            height: 8rem;
            width: 19rem;
            margin-top: 1rem;
        }

        .pr2 h5 {
            margin-top: 1.2rem;
            margin-bottom: 0.3rem;
        }

        .pr2 p {
            margin-top: 0rem;
            padding-bottom: 0rem;
            margin-bottom: 0.8rem;
        }

        .pr2 .card-body {
            padding-bottom: 0px;
        }

        .pr3 img {
            height: 10rem;
            width: 12rem;
            border-radius: 30px;
        }

        .pr3 h5 {
            margin-top: 0rem;
        }

        .pr3 p {
            margin-bottom: 2.5rem;
        }

        .pr4 img {
            height: 10rem;
            width: 19rem;
            border-radius: 30px;
        }

        .pr4 h5 {
            margin-top: -0.3rem;
        }

        .pr4 p {
            margin-bottom: 2.8rem;
        }

        .pr5 {
            width: 19.5rem !important;
            margin-left: 0.7rem;
            margin-top: 0.5rem;
        }

        .pr5 img{
            width: 19rem;
            height: 10rem;
            border-radius: 30px;
        }

    </style>