<% layout("layouts/boilerplate") %>


    <div id="bg">
        <img src="images/bg.png" alt="">
    </div>


    <body>

        <br>
        <h2 style="font-size: 2.5rem;text-decoration: underline; color: red;"><b><i>Programming Languages:-</i></b></h2>

        <div class="row">
            <div class="programming">
                <div class="card card1 pr c">
                    <img src="/images/c++.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">C++</h5>
                        <p class="card-text">C++ is a cross-platform language that's used to create high-performance
                            applications.It gives a high level of control over system resources and memory.</p>
                        <a href="https://learn.microsoft.com/en-us/cpp/cpp/?view=msvc-170" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card2 pr js">
                    <img src="/images/js.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">JavaScript</h5>
                        <p class="card-text">JavaScript is the world's most popular programming language.
                            JavaScript is the programming language of the Web.
                            JavaScript is easy to learn.</p>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card3 pr py">
                    <img src="/images/python.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Python</h5>
                        <p class="card-text">It is a versatile and powerful programming language used for web
                            development, data analysis, artificial intelligence, and automation.</p>
                        <a href="https://docs.python.org/3/" class="btn btn-primary">Click to know more!</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 style="font-size: 2.5rem; text-decoration: underline; color: red;"><b><i>Front-end Development:-</i></b>
        </h2>
        <div class="row">
            <div class="frontend">
                <div class="card card1 fr html">
                    <img src="/images/html.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                        <p class="card-text">HTML is the standard markup language for Web pages.
                            With HTML you can create your own Website.</p>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card2 fr css">
                    <img src="/images/css.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                        <p class="card-text">CSS is the language we use to style an HTML document.
                            CSS describes how HTML elements should be displayed.</p>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card3 fr react">
                    <img src="/images/react.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">React</h5>
                        <p class="card-text">React is a JavaScript library for building user interfaces.
                            It is used to build single-page applications.It allows us to create reusable UI components.
                        </p>
                        <a href="https://react.dev/reference/react" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="frontend">
                <div class="card card3 fr2 ejs">
                    <img src="/images/ejs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">HTML Templating (EJS)</h5>
                        <p class="card-text">EJS is a simple templating language that lets you generate HTML markup with
                            plain JavaScript. No religiousness about how to organize things. No reinvention of iteration
                            and control-flow. It's just plain JavaScript.</p>
                        <a href="https://ejs.co/#docs" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card3 fr2 res">
                    <img src="/images/res.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Responsive Web Design</h5>
                        <p class="card-text">Responsive Web Design is about using HTML and CSS to automatically resize,
                            hide, shrink, or enlarge, a website, to make it look good on all devices</p>
                        <a href="https://www.w3schools.com/html/html_responsive.asp" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 style="font-size: 2.5rem;text-decoration: underline;  color: red;"><b><i>Back-end Development:</i></b></h2>

        <div class="row">
            <div class="programming">
                <div class="card card1 pr node">
                    <img src="/images/node.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Node.js</h5>
                        <p class="card-text">Node.js is an open source server environment.
                            Node.js allows you to run JavaScript on the server.
                        </p>
                        <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction"
                            class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card2 pr express">
                    <img src="/images/express1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Express.js</h5>
                        <p class="card-text">Express.js is a fast, flexible and minimalist web framework for Node.js.
                            It’s effectively a tool that simplifies building web applications and APIs using JavaScript
                            on the server side.</p>
                        <a href="https://devdocs.io/express/" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="programming">
                <div class="card card3 pr api">
                    <img src="/images/rest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">RESTful APIs</h5>
                        <p class="card-text">RESTful API is an interface that two computer systems use to exchange
                            information securely over the internet.</p>
                        <a href="https://www.geeksforgeeks.org/rest-api-introduction/" class="btn btn-primary">Click to
                            know more!</a>
                    </div>
                </div>
                <div class="card card3 pr mongo">
                    <img src="/images/mongo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MongoDB</h5>
                        <p class="card-text">MongoDB is a document database designed for ease of application development
                            and scaling.</p>
                        <a href="https://www.mongodb.com/docs/manual/" class="btn btn-primary">Click to know more!</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 style="font-size: 2.5rem;text-decoration: underline;  color: red;"><b><i>Tools & Technologies:</i></h2>
        <div class="row">
            <div class="programming">
                <div class="card card1 pr git">
                    <img src="/images/git.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Git & GitHub</h5>
                        <p class="card-text">Git is a popular version control system.GitHub makes tools that use Git.
                            GitHub is the largest host of source code in the world.
                        </p>
                        <a href="https://docs.github.com/en/get-started/using-git/about-git"
                            class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
                <div class="card card2 pr express vs">
                    <img src="/images/vs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">VS Code</h5>
                        <p class="card-text">
                            Visual Studio Code is a lightweight but powerful source code editor which runs on your
                            desktop.It comes with built-in support for JavaScript, TypeScript and Node.js and has a rich
                            ecosystem of extensions for other languages and runtimes.</p>
                        <a href="https://code.visualstudio.com/docs" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="programming">
                <div class="card card3 pr api npm">
                    <img src="/images/npm.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">npm</h5>
                        <p class="card-text">npm is the world's largest software registry. Open source developers from
                            every continent use npm to share and borrow packages, and many organizations use npm to
                            manage private development as well.</p>
                        <a href="https://docs.npmjs.com/about-npm" class="btn btn-primary">Click to know more!</a>
                    </div>
                </div>
                <div class="card card3 pr postman">
                    <img src="/images/postman.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Postman</h5>
                        <p class="card-text">Postman is an API platform for building and using APIs. Postman simplifies
                            each step of the API lifecycle and streamlines collaboration so you can create better
                            APIs—faster.</p>
                        <a href="https://learning.postman.com/docs/introduction/overview/" class="btn btn-primary">Click
                            to know more!</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <h2 style="font-size: 2.5rem; text-decoration: underline; color: red;"><b><i>Additional Skills:</i></h2>

        <div class="row">
            <div class="programming ">
                <div class="card add col dsa">
                    <img src="/images/dsa.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Data Structures And Algorithms</h5>
                    </div>
                </div>
                <div class="card add col brain">
                    <img src="/images/brain.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Problem-Solving</h5>
                    </div>
                </div>
                <div class="card add col team">
                    <img src="/images/team.avif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Team Collaboration</h5>
                    </div>
                </div>
                <div class="card add col com">
                    <img src="/images/communication.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Strong Communication Skills</h5>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </body>

    <style>
        /* For All Cards */

        body {
            position: relative;
            z-index: 1;
        }

        #bg {
            position: fixed;
            height: 100%;
            width: 100%;
            background-size: cover;
            top: 0rem;
            margin: 0rem;
            padding: 0rem;
            left: 0rem;
            z-index: -1;
        }

        #bg img {
            object-fit: fill;
            height: 100%;
            width: 100%;
            margin: 0rem;
            position: fixed;
            z-index: -10;
            opacity: 0.2;
            left: 0rem;
            padding: 0rem;
        }

        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .card {
            box-shadow: 2px 2px 4px black;
            border-radius: 20px;
        }

        .card a {
            background-color: red !important;
            border: none;
        }

        .card:hover {
            transform: scale(1.02, 1.02);
            transition: all;
        }

        .programming {
            display: flex;
            margin-top: 1rem;
        }

        .pr {
            height: 20rem;
            width: 25rem !important;
            border: 2px solid black;
            justify-content: center;
            align-items: center;
        }

        .pr img {
            height: 10rem;
            width: 9rem;
            padding: 1rem;
        }

        .card-body {
            padding-top: 0px;
        }

        /* C++ */

        .c img {
            margin-top: 0rem;
            height: 8rem;
            width: 7.5rem;
            margin-bottom: 0px;
        }


        /* JS */

        .js img {
            margin-top: 0rem;
            padding-top: 5px;
            height: 9rem;
            width: 9rem;
            margin-bottom: 0px;
        }

        .js h5 {
            margin-bottom: 1.9rem;
        }

        .js p {
            margin-top: -20px;
        }

        .js a {
            margin-top: -0.3rem;
        }

        /* Pyhton */

        .py img {
            margin-top: 0rem;
            padding-top: 0px;
            height: 8rem;
            width: 8rem;
            margin-bottom: 0px;
        }

        .py a {
            margin-bottom: -3.1rem;
        }

        .card2 {
            margin-left: 3rem;
        }

        .card3 {
            margin-left: auto;
        }

        /* FrontEnd */

        .fr {
            height: 20rem;
            width: 25rem !important;
            border: 2px solid black;
            justify-content: center;
            align-items: center;
        }

        .frontend {
            display: flex;
            margin-top: 1rem;
        }

        .fr img {
            height: 10rem;
            width: 9rem;
            padding: 1rem;
        }

        .html img {
            height: 12rem;
            width: 10rem;
            margin-top: -0.8rem;
        }

        .html h5 {
            padding-top: 0px;
        }

        .html a {
            margin-bottom: -0.3rem;
        }

        .css img {
            height: 9rem;
            width: 7rem;
            margin-top: -0.3rem;
        }

        .css h5 {
            margin-top: 0.6rem;
        }

        .css a {
            margin-bottom: -0.3rem;
        }

        .react a {
            margin-bottom: -0.3rem;
            margin-top: -1rem;
        }

        .fr2 {
            height: 20rem;
            width: 25rem !important;
            border: 2px solid black;
            justify-content: center;
            align-items: center;
        }

        .ejs {
            margin-left: 12rem;
        }

        .ejs img {
            height: 5rem;
            width: 16rem;
            margin-bottom: 0rem;
        }

        .ejs h5 {
            padding-top: 1rem;
        }

        .ejs a {
            margin-bottom: -0.3rem;
        }

        .res {
            margin-right: 12rem;
        }

        .res h5 {
            margin-top: 1.4rem;
        }

        .res img {
            padding-top: 0.7rem;
            height: 8rem;
            width: 14rem;
        }

        .res a {
            margin-bottom: -0.2rem;
        }

        .express {
            margin-left: 17rem;
        }

        .api {
            margin-left: 12rem;
        }

        .mongo {
            margin-right: 2rem;
        }

        .node img {
            height: 8rem;
            width: 12rem;
        }

        .node a {
            margin-bottom: -6rem;
        }

        .express img {
            height: 8rem;
            width: 14rem;
        }

        .express a {
            margin-bottom: -0.3rem;
        }

        .api img {
            padding-top: 1.2rem;
            height: 10rem;
            width: 18rem;
        }

        .api a {
            margin-bottom: 0.5rem;
        }

        .mongo img {
            height: 10rem;
            width: 10rem;
        }

        .mongo h5 {
            margin-top: -0.8rem;
        }

        .mongo a {
            margin-bottom: -3.8rem;
        }

        .git img {
            height: 12rem;
            width: 16rem;
        }

        .git a {
            margin-bottom: 0.4rem;
        }

        .vs img {
            padding-top: 3rem;
            height: 7rem;
            width: 7rem;
        }

        .vs a {
            margin-bottom: 2rem;
        }

        .npm img {
            padding-top: 4rem;
            margin-top: 1rem;
            height: 12rem;
            width: 15rem;
        }

        .npm a {
            margin-top: 0px;
            margin-bottom: 4rem;
        }

        .postman img {
            padding-top: 1.5rem;
        }

        .postman h5 {
            margin-top: -0.5rem;
        }

        .postman a {
            margin-bottom: 1rem;
        }

        .add {
            margin-left: 2rem;
            height: 20rem;
        }

        .add h5 {
            margin-top: 0rem;
            padding-top: 0rem;
        }

        .add img {
            padding: 5px;
            height: 20rem;
            width: 18.1rem;
        }

        .brain img {
            height: 17rem;
            width: 18rem;
            margin-bottom: -2rem;
        }

        .brain h5 {
            margin-top: 0.2rem;
        }

        .team h5 {
            margin-bottom: 2.2rem;
        }

        .com h5 {
            margin-bottom: 0.7rem;
        }

        .dsa img {
            border-radius: 20px;
            padding-left: 7.5px;
        }

        h2 {
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    </style>