body {
    background-color: rgba(255, 255, 255, 0.888);
    height: 100vh;
    flex: 1;
}

.card{
    transition: transform ease-in-out 0.3s;
}

.navbar {
    height: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(82, 73, 73, 0.822) !important;
    opacity: 1;
    z-index: 100;
}

.side-menu {
    margin-right: 8rem;
}

.navbar-nav a {
    margin-left: 3rem;
    font-size: 1.1rem;
    color: white;
}

.navbar-brand {
    margin-left: 1.2rem;
}

.navbar-brand img {
    height: 2.5rem;
    width: 3rem;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.container-fluid a {
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}
